/*body,html{
    font-family: 'Calibri';
    font-size:10px;
}

.container{
    display:block;
    margin:30px;
}

.header-title{
    background-color: black;
    color: aqua;
    
    border-radius: 10px;
    padding:25px;
    padding-top:60px;
}

.header-title h1{
    font-size:80px;
    margin: 0;
    font-weight:bold;
    
}

.header-title h3{
    font-size:30px;
    font-weight:normal;
}

.header-title button{
    color:aqua;
    letter-spacing: .3em;
    font-size: 20px;
    background-color: black;
    border-color: black;
}

.header-title button:hover{
    border-color: aqua;
    border-radius: 20px;
}

.section-container{
    display: block;
}
.section-container .my-image{
    float: right;
    width:250px;
}
.section-container .paragraph{
    float: left;
    width:850px;
    font-size: 25px;}

.icon-group {
    margin-top: 20px; }
    .icon-group .icon {
      margin-right: 10px;
      width: 25px; }

 */
 
 html{
     background-color:rgba(100, 105, 105, 0.5);
     font-size: 100%;
     font-family: 'Lato', sans-serif
 }

 
 
h1{
     background-color: purple;
     color:white;
     padding:10px;
     margin:0;
     border:1px  white;
     position:fixed;
     top:0;
     width:100%;
     height:40px;
     text-align: center;
     font-size:2rem;
 }

 a{
     text-decoration: none;
     color:black;
 }

 a:hover{
     color:gold
 }

 .head{
     height:60px;
 }


 .sub-heading{
     background-color: purple;
     color:white;
     text-align:center;
     position:relative;
     bottom:18.4px;
     margin:0;
 }

 .social{
     display:none;
 }

 /*

 .social{
     display:flex;
     background-color:purple;
     
 }
 

 .social p{
    margin:0;
    color:white;
    text-align:center;
     width:50%;
    
 }

*/

 .images {
     display:flex;
     background-color:white;
     flex-flow:row wrap;
    
        
     
 }

 .images img {
  
        width:100%;
        margin:0;
        height:100%;
        
      
    
   
    
}

body  {
    margin:0px;
}

.navigation ul{
    padding:0;align-items:center;
    
}

.navigation{
    text-align:center;
    padding:10px,0px;
}

.navigation li{
    display: inline-block;
    width:20%;
    background-color:grey;
    font-size:0.9rem;
}

.clients {
   
    display:flex;
    align-items:center;
    background-color: white;
    border:1px solid black;
    padding:10px;
    justify-content:center;
    margin:10px;
    flex-flow:row wrap;
   
    
}

.clients img{
    width:100px;
    margin:0;
}

.clients p{
    width:350px;
    text-align:center;
    font-size:1rem;
}


/*.clients p, .clients img{

    display: inline;
    vertical-align:middle;

}*/


@media (min-width: 400px){
    

    .navigation li{
       
        font-size:1.2rem;
    }


}


@media (min-width: 700px){



    .images img {
        display:flex;
        width:50%
    }


    .social{
        display:flex;
        background-color:purple;
        
    }
    
   
    .social p{
       margin:0;
       color:white;
       text-align:center;
        width:50%;
       
    }

}

